<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/897c0d242d.js" crossorigin="anonymous"></script>
    <link href="/assets/css/contact.css" rel="stylesheet">
    <title>Let's be friends!</title>
    <link rel="icon" type="image/png" href="/assets/images/LOGO_FAF.png">
  </head>
  <body style="background-image: url(/assets/images/bg-display-contact.png); background-size:cover;">
    
    <!-- loading page -->
    <div id="loading-overlay">
      <div class="loader"></div>
    </div>
    <div id="wrapper">
      <div id="main">
        <div class="inner">
          <div class="jumbotron">

            <!-- Display -->
            <h1 class="display-4"style="color:#F5F5F5;">Fatony Ahmad Fauzi!</h1>
            <hr class="my-4"style="color:#F5F5F5;">
            <p style="color:#F5F5F5;">@fatonyahmadfauzi</p>

            <!-- Media Sosial -->
            <br><br>
            <div class="social-buttons">
              <a href="https://www.tiktok.com/@fatonyahmadfauzi" class="social-buttons__button social-button social-button--tiktok" aria-label="Tiktok">
                <i class="fab fa-tiktok"></i>
              </a>
              <a href="https://facebook.com/fatonyahmadfauzi" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://twitter.com/fatonyahmad89" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/fatonyahmadfauzi" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://api.whatsapp.com/send/?phone=6289638230725" class="social-buttons__button social-button social-button--whatsapp" aria-label="WhatsApp">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
              <a href="http://line.me/ti/p/~@fatonyahmad88" class="social-buttons__button social-button social-button--line" aria-label="Line">
                <i class="fab fa-line"></i>
              </a>
              <a href="https://www.youtube.com/fatonyahmadfauzi" class="social-buttons__button social-button social-button--youtube" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
              <a href="https://discordapp.com/users/fatonyahmadfauzi#9534" class="social-buttons__button social-button social-button--discord" aria-label="Discord">
                <i class="fab fa-discord"></i>
              </a>
            </div>
            <footer id="footer">
              <div id="logo" class="logo">
                <span>
                  <a><img src="/assets/images/LOGO_FAF - White.png" alt="fatonyahmadfauzi" style="height: 50px; width: 50px;"></a>
                </span>
              </div>
            </footer>
            
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/body.js"></script>

    <!-- login form -->
    <script src="index/js/login_form.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>


