/* ==================================================================================================== */
/* ============ GLOBAL STYLES ======================================================================== */
/* ==================================================================================================== */

:root {
    --background-light: #fff;
    --background-dark: #111;
    --text-light: #111;
    --text-dark: #fff;
    --icon-color-light: #111;
    --icon-color-dark: #fff;
  }
  
  body {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
  }
  
  body:has(#lightModeToggleNavbar:checked) {
    background-color: var(--background-dark);
    color: var(--text-dark);
    --icon-color: var(--icon-color-dark);
  }
  
  /* ==================================================================================================== */
  /* ============ DARK MODE TOGGLE ===================================================================== */
  /* ==================================================================================================== */
  
  #lightModeToggleNavbar {
    display: none;
  }
  
  #lightModeToggleNavbar + label {
    font-size: 22px;
    cursor: pointer;
    color: var(--icon-color-light);
    position: relative;
    display: inline-block;
    top: 2px;
    left: -5px;
    margin-left: 10px;
  }
  
  #lightModeToggleNavbar:checked + label {
    color: var(--icon-color-dark);
  }
  
  #lightModeToggleNavbar:checked + label .bi-sun {
    display: none;
  }
  
  #lightModeToggleNavbar:checked + label .bi-moon {
    display: inline-block;
  }
  
  #lightModeToggleNavbar + label .bi-moon {
    display: none;
  }
  
  #lightModeToggleNavbar + label .bi-sun {
    display: inline-block;
  }
  
  /* ==================================================================================================== */
  /* ============ VERTICAL LINE AND ARROW =============================================================== */
  /* ==================================================================================================== */
  
  .vertical-line {
    color: var(--icon-color-light);
    transition: color 0.3s;
  }
  
  .down-arrow-container svg path {
    stroke: var(--icon-color-light);
    transition: stroke 0.3s;
  }
  
  body:has(#lightModeToggleNavbar:checked) .vertical-line {
    color: var(--icon-color);
  }
  
  body:has(#lightModeToggleNavbar:checked) .down-arrow-container svg path {
    stroke: var(--icon-color);
  }
  
  /* ==================================================================================================== */
  /* ============ ACCORDION ============================================================================ */
  /* ==================================================================================================== */
  
  .accordion-container {
    display: grid;
    gap: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    flex-grow: 1;
    margin-top: 8%;
  }
  
  .accordion-item {
    border-bottom: 1px solid #dadce0;
  }
  
  .accordion-item:last-child {
    border-bottom: none;
  }
  
  .accordion-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 12px;
    transition: max-height 0.35s ease-in-out;
  }
  
  .accordion-item input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .accordion-item input:checked ~ .accordion-content {
    max-height: 500px;
  }
  
  .down-arrow-container {
    transition: transform 0.2s;
    margin-left: auto;
  }
  
  .accordion-item input:checked ~ .accordion-header .down-arrow-container {
    transform: rotate(180deg);
  }
  
  /* ==================================================================================================== */
  /* ============ DROPDOWN ============================================================================= */
  /* ==================================================================================================== */
  
  .dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown input[type="checkbox"] {
    display: none;
  }
  
  .dropdown-label {
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: none;
  }
  
  .flag-icon {
    width: 2em;
    height: 1.33em;
    display: inline-block;
    background-size: cover;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 0;
    margin-top: 5px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .dropdown-menu a {
    color: #333;
    padding: 6px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown input[type="checkbox"]:checked ~ .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  .dropdown-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .dropdown input[type="checkbox"]:checked ~ .dropdown-overlay {
    display: block;
    opacity: 1;
  }
  
  /* ==================================================================================================== */
  /* ============ MEDIA QUERIES ======================================================================== */
  /* ==================================================================================================== */
  
  @media (max-width: 768px) {
    .C2JSfb {
      flex-direction: column;
      padding: 5vh 16px 0;
    }
  
    h1 {
      font-size: 28px;
      line-height: 38px;
      padding-right: 0;
      text-align: center;
    }
  
    .accordion-container {
      margin-top: 12px;
    }
  
    p, .accordion-header {
      font-size: 14px;
    }
  
    .accordion-content ol {
      font-size: 13px;
    }
  
    .dropdown-menu {
      min-width: 100%;
    }
  }